### Laravel ###
/node_modules
/vendor
/workbench

/public/build
/public/hot
/public/storage
/storage/*.key

### Temp files ###
*-lock.*
*-lock.json

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
