### Laravel ###
/node_modules
/vendor
/workbench

/public/build
/public/images
/public/hot
/public/storage
/storage/*.key
composer.lock
### Temp files ###
*-lock.*
*-lock.json
!package-lock.json

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

### Auth0 JSON files ###
.auth0.*.json

### Localhost SSL files ###
*.pem
